.my-main-section-container {
    background-color: rgb(250, 250, 250);
    min-height: 88vh;
    padding: 30px 30px 40px 30px;
    color: rgb(0, 0, 0);
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}