
.modal-container {
    max-width: 600px;
}

h2 {
    margin-bottom: 20px;
}
p {
    text-align: justify;
}

@media (max-width: 600px) {
    p {
        text-align: left;
        font-size: 14px;
    }
}


